@import url("https://fonts.googleapis.com/css2?family=Blinker&family=Montserrat&family=Poppins:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Blinker", sans-serif;
  max-width: auto;
}
a {
  text-decoration: none;
  color: black;
}
