.caresoul {
  position: relative;
  margin: 0 auto;
  margin-bottom: 100px;

  &__grid_wrapper {
    overflow-inline: scroll;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 16px) !important;
    margin-bottom: var(--fs-40);
    scroll-behavior: smooth;
    scrollbar-width: 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    transition: all 0.3ms;
  }

  &__grid_wrapper > * {
    scroll-snap-align: start;
  }

  &__grid_wrapper::-webkit-scrollbar {
    display: none;
  }
  &__header {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    &__title {
      font-size: 26px;
      font-weight: bolder;
    }
  }
  &__buttons {
    display: flex;
    // justify-content: center;
    align-items: center;
    gap: 10px;
    &__left,
    &__rigth {
      padding: 10px;
      cursor: pointer;
      // font-size: 20px;
      font-weight: 900;
      background-color: black;
      color: white;
      border: none;
      transition: 0.5s;
      border: 2px solid black;
    }
    &__left:hover,
    &__rigth:hover {
      background-color: white;
      color: black;
    }
  }
}

@media (max-width: 800px) {
  .caresoul {
    &__grid_wrapper {
      grid-auto-columns: calc((100% / 2) - 16px) !important;
    }
  }
}
@media (max-width: 600px) {
  .caresoul {
    &__grid_wrapper {
      grid-auto-columns: calc((100%) - 16px) !important;
    }
  }
}
