.news {
  background-color: rgb(49, 49, 49);

  .news_container {
    height: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .news_title {
      color: #fff;
      font-size: 35px;
    }
    .form {
      display: flex;
      width: 60%;
      gap: 16px;
    }
    input {
      flex: 2;
      height: 50px;
      padding: 10px 20px;
    }
    input::placeholder {
      font-weight: normal;
    }
    button {
      flex: 1;
      padding: 10px 20px;
    }
  }
}

@media (max-width: 420px) {
  input {
    padding: 10px 5px;
  }

  .form {
    width: 100%;
    flex-direction: column;
  }
}
