.product {
  outline: 2px solid rgba(0, 0, 0, 0.205);
  outline-offset: -2px;
  transition: 0.5s;
 
  &__info {
    padding: 1rem;
    &__name {
      font-size: 1.0625rem;
      margin-bottom: 0.875rem;
    }
    &__price {
      font-size: 1.375rem;
      font-weight: 600;
    }
  }
}
.product:hover {
  outline-color: rgba(0, 0, 0, 0.795);
}
.product-image{
  width: 100%;
}

.product-image.hidden {
  display: none;
}